<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943466815206-6058pd9ualk469vk6ocbdi45vv1n5t6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943466815206-6058pd9ualk469vk6ocbdi45vv1n5t6q</string>
	<key>API_KEY</key>
	<string>AIzaSyAGD20SdbfhzXs2x0-aiRGNHZCqX1ipsw4</string>
	<key>GCM_SENDER_ID</key>
	<string>943466815206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coach.orderInTheCourt</string>
	<key>PROJECT_ID</key>
	<string>order-in-the-court-6f9e0</string>
	<key>STORAGE_BUCKET</key>
	<string>order-in-the-court-6f9e0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943466815206:ios:d59825a8ad6dd30f91a527</string>
</dict>
</plist>